@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: Roboto;
}

h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
}
p,button,form,table{
    font-family: 'Nunito Sans', sans-serif;
}
.iconoAgregar{
    color: #faffeb; 
    font-style: normal; 
} 
.btnBordes{
    border: 1px #bbb7bb solid;
    margin-right: 5%;
}
.imgCancion{
    width: 8vh;
}

.iconosBtn{
    font-size: larger;
}
.fondoAdmin{
    border: 1px #6e08f3e3 solid;
    padding: 2%;
}
.marcoModal{
    border: 1px #6e08f3e3 solid;
}

.btnsubmit{
    border: 1px #23BC1C solid;
}

.imgCancionDetalle{
    width: 15vh;
    border: 1px #8a878a solid;
    border-radius: 20% 0% 20% 0%;
    margin-top: 3vh;
}

@media all and (max-width: 767px){
    .btnBordes{
    
        margin-right: 0%;
    }
    .centrarCardSm{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imgCancion{
        width: 15vh;
       
    }
}