.cancionFondo{
    width: 25%;
    height: 250px;
    list-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cancion:hover{
    border-bottom: solid 1px #7d2181;
}

.decoracionBusqueda{
    border-radius: 5%;
}

.busquedaIcono{
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 10%;
    color: #616161;
}

.musicaParrafo{
    margin-bottom: 70px;
}

.musicaEfecto{
    background-color: #000000AA;
    position: relative;
}

.textoCancion{
    color: white;
}

.fa-play{
    font-size: 50px;
}

.btnPlay{
    color: #ffffff;
    position: absolute;
    top: 35%;
    left: 45%;
}

.fa-circle-plus{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cancionFondo{
        width: 33%;
    }
}

/* MOBILE */
/*
.musicaParrafo{
    font-size: 14px;
    width: 180px;
}
.textoCancion{
    font-size: 12px;
}
.fa-play{
    font-size: 30px;
}
.cancionFondo{
    width: 180px;
    height: 200px;
    list-style: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
*/
